<div class="container">
    <div class="row">
        <div class="col">
            <h2>{{name}}'s Blog</h2>
        </div>
    </div>
    <div class="row">
    <div class="col">
        <a class="btn" href="/create">Create New Post</a>
    </div>
</div>
<div class="row">
    <div class="col">
        {{#if blog_posts.length}}
        {{#each blog_posts as |bp|}}
        {{> blogPost blogPost=bp}}
        {{/each}}
        {{/if}}
    </div>
</div>
</div>

<script src="/js/deletePostHandler.js"></script>